
<div fxLayout="row" cdkDropListGroup style="background-color: rgb(192, 203, 214);;">
  <div fxLayout="row wrap">
    @if(selectedEmployee){
      <mat-card>
        <img mat-card-image class="profile-image" [src]="url+selectedEmployee.imageUrl" alt="Photo 1">
        <mat-card-content class="py-3">
            <h2 class="text-center">{{selectedEmployee.rankId.rankName}}{{selectedEmployee.name}} -- {{selectedEmployee.currentStatus}}</h2>
            <h4 class="text-center primary-color">{{selectedEmployee.roleId.roleName}}</h4>
            <h4 class="text-center primary-color">{{selectedEmployee.departmentId?.departmentName}}</h4>
            <h4 class="muted-text py-1">About:</h4>
            <p class="text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div fxLayoutAlign="end center">
                <a routerLink="user-info" mat-stroked-button color="primary">
                    More <mat-icon>arrow_right_alt</mat-icon>
                </a>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div class="p-3">
          <div fxLayoutAlign="space-between center">
            <div>Followers:</div>
            <strong class="d-inline-block">675</strong>
          </div>
          <div fxLayoutAlign="space-between center" class="mt-2">
            <div>Following:</div>
            <strong class="d-inline-block">428</strong>
          </div>
          <div fxLayoutAlign="space-between center" class="mt-2">
            <div>Projects:</div>
            <strong class="d-inline-block">27</strong>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card>
    }
</div>

<div fxFlex="50" class="p-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Employees</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event)">
        @for (emp of employees; track emp) {
          <mat-list-option [value]="emp" [ngClass]="{'out-status': emp.currentStatus === 'Out'}">
            <img matListItemAvatar [src]="emp.imageUrl ? (url + emp.imageUrl) : userImage" alt="image">
            <div matListItemTitle>{{emp.rankId.rankName}} {{emp.name}}</div>
            <div matListItemLine>Role {{emp.roleId.roleName}}</div>
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
</div>


</div>
