<div fxLayout="row" fxLayoutAlign="space-between center" class="px-2 py-1">
  <div fxLayout="row">
    <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
      <mat-button-toggle value="add" (click)="addEmployee(null)">
        <img [src]="userImage" style="width: 40px; height: 40px;">
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Adjust this div to align the search form in the center -->
  <div fxLayout="row" class="col">
    <form class="user-search" [class.show]="controls.value == 'search'">
      <mat-form-field class="user-search-input">
          <input matInput placeholder="Search ship by name..." name="search" (keyup)="search($event)">
      </mat-form-field>
    </form>
  </div>
</div>


<div fxLayout="row wrap">
  @for (employee of employees | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; track employee._id) {
      <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="p-2">
          <mat-card class="p-0" (click)="openEmployee(employee)">
              <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                  <h5 class="user-name">
                      @if (!employee.status) {
                          User blocked
                      } @else {
                        {{employee.rankId?.rankName}} {{employee.name}} {{employee.roleId?.roleName}} - {{employee.departmentId?.departmentName}}
                      }
                  </h5>
                  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" class="default-contrast">
                      <mat-icon>more_vert</mat-icon>
                  </button>
              </div>
              <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                  <span (mouseleave)="menuTrigger.closeMenu()">
                      <button mat-menu-item (click)="addEmployee(employee)">
                          <mat-icon>mode_edit</mat-icon>
                          <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="deleteEmployee(employee._id);">
                          <mat-icon>delete</mat-icon>
                          <span>Delete</span>
                      </button>
                  </span>
              </mat-menu>
              <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                  <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                      <div class="user-img">
                          @if (employee.imageUrl){
                              <img [src]="url+employee.imageUrl" class="transition-2" [class.blocked]="!employee.status">
                          } @else {
                              <img [src]="defaultUser" class="transition-2" [class.blocked]="!employee.status">
                          }
                          @if (!employee.status) {
                              <mat-icon class="warn-color">block</mat-icon>
                          }
                      </div>
                      <div class="user-social">
                          <mat-slide-toggle color="primary" [checked]="employee.status" (change)="onToggleChange($event, employee._id)"></mat-slide-toggle>
                      </div>
                  </div>
                  <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="!employee.status">

                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text">mail_outline</mat-icon>
                          <span> {{employee.email}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text">call</mat-icon>
                          <span>{{employee.phoneNumber}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text">date_range</mat-icon>
                          <span> {{employee.joiningDate | date:"dd MMMM, yyyy"}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text">contact_mail</mat-icon>
                          <span> {{employee.address}}</span>
                      </p>

                  </div>
              </div>
              
          </mat-card>
      </div>
  }
</div>
