
<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
            <mat-button-toggle value="add" (click)="addDepartment(null)">
              <img [src]="image" style="width: 30px; height: 30px;">
            </mat-button-toggle>
            <!-- <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle> -->
        </mat-button-toggle-group>
    </div>
    <div fxLayout="row" class="col">
      <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search department by name..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>
  </div>

    <main class="table" id="customers_table">
        <!-- <section class="table__header">
            <h1>DEPARTMENTS</h1>
        </section> -->
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> DEPARTMENT </th>
                        <th> Manage </th>
                    </tr>
                </thead>
                <tbody>
                  @for (department of departments; track department) {
                    <tr>
                      <td> {{department.departmentName}} </td>
                      <td>
                        <button mat-menu-item (click)="addDepartment(department)" style="color: rgb(11, 158, 11);">
                          <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-menu-item (click)="deleteDepartment(department._id);" style="color: rgb(212, 53, 53);">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                  </tr>
                  }
                </tbody>
            </table>
        </section>
    </main>

    <!-- <div class="tabs">
     <a routerLink="department">DEPARTMENT</a>
     <a>USER</a>
 </div> -->
</body>

</html>
