
<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
            <mat-button-toggle value="add" (click)="addRole(null)">
              <img [src]="userImage" style="width: 40px; height: 40px;">
            </mat-button-toggle>
            <!-- <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle> -->
        </mat-button-toggle-group>
    </div>
    <div fxLayout="row" class="col">
      <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search role by name..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>
  </div>

    <main class="table" id="customers_table">
        <!-- <section class="table__header">
            <h1>ROLES</h1>
        </section> -->
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Designation </th>
                        <th> Manage </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td> {{role.roleName}} </td>
                        <td>
                          <button mat-menu-item (click)="addRole(role)">
                            <mat-icon>mode_edit</mat-icon>
                          </button>
                          <button mat-menu-item (click)="deleteRole(role._id);">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

</body>

</html>
