

<!DOCTYPE html>
<html lang="en">
<body style="background-color: rgb(192, 203, 214);">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
      <form class="user-search">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search ship by name..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>
  </div>

    <main class="table" id="customers_table">
        <!-- <section class="table__header">
            <h1>ROLES</h1>
        </section> -->
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Employee </th>
                        <th> CheckOut </th>
                        <th> CheckIn </th>
                        <th> Deboarding Type </th>
                    </tr>
                </thead>
                <tbody>
                  @for (item of logs; track item) {
                    <tr  [ngClass]="{'out-status': !item.currentStatus  }">
                      <td> {{item.employeeId?.name}} </td>
                      <td> {{item.checkOutTime | date: 'dd/MM/yyyy, hh:mm:ss'}} </td>
                      <td> {{item.checkInTime | date: 'dd/MM/yyyy, hh:mm:ss'}} </td>
                      <td> {{item.purpose.typeName}} </td>
                      <!-- <td>
                        <button mat-menu-item (click)="addRole(role)">
                          <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-menu-item (click)="deleteRole(role._id);">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td> -->
                  </tr>
                  }
                </tbody>
            </table>
        </section>
    </main>

    <!-- <div class="tabs">
     <a routerLink="role">ROLE</a>
     <a>USER</a>
 </div> -->
</body>

</html>
