
.custom-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.custom-card {
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.card-title {
  font-weight:bolder;
  color: #0a0a0a;
  text-align: center;
  padding-bottom: 10px;
}

.card-content {
  padding-top: 10px;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between radio buttons */
}

mat-radio-button {
  margin: 0 8px;
}

.card-actions {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.confirm-button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #1976d2;
  color: #fff;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #1565c0;
}
